{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="col-md-10">
    <form action="/updateTaskItem/{{item.id}}" method="POST" class="form-group">
        {% csrf_token %}
        <div class="row">
            <input type="text" name="content" value={{item.get_content}} class="form-control col-sm-8 mb-2">
            <select name="status" id="status" value={{item.get_status}} class="ml-3 form-control col">
                <option value="Unfinished">Unfinished</option>
                <option value="Finished">Finished</option>
            </select>
        </div>
        <input type="submit" value="Update" class="btn btn-success row">
    </form>
</div>
<!-- <form action="/taskmanagement/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Home">
</form> -->
{% endblock %}