<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Management System</title>
</head>
<h1>
    Hello Task Management System
</h1>
<body>
<form action="/searchTaskItem/" method="POST">
    {% csrf_token %}
    <input type="text" name="query">
    <input type="submit" value="Search">
</form>
<form action="/addTaskItem/" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add Task Item">
</form>
<ul>
    {% for i in all_items %}
    <li>
        {{i.get_content}}: {{i.get_status}}
        <form action="/editTaskItem/{{i.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Edit">
        </form>
        <form action="/deleteTaskItem/{{i.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>
<form action="/taskmanagement/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Home">
</form>
</body>
</html>